In [3]:
#PROBLEM STATEMENT 1

'''How-to-count-distance-to-the-previous-zero. For each value, count the difference back to the previous zero (or the start of 
the Series, whichever is closer).
Create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})'''


'''Solution'''
import numpy as np
import pandas as pd 

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
mylist = []
count = 0
for index, row in df.iterrows():
    if row['X'] == 0:
        count = 0
    else:
        count += 1
    mylist.append(count)

df['Y'] = mylist
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [4]:
#2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

#solution

import numpy as np
import pandas as pd

Date_2015_BD = pd.date_range('1/1/2015', '12/31/2015', freq='B')
date_randn_index = pd.Series(np.random.randn(Date_2015_BD.size), index=Date_2015_BD)
print("The random number series with date index is:\n",date_randn_index)

The random number series with date index is:
 2015-01-01    1.291409
2015-01-02   -0.627848
2015-01-05    0.527191
2015-01-06    0.856309
2015-01-07   -0.813148
2015-01-08   -1.272697
2015-01-09    1.165275
2015-01-12   -0.294437
2015-01-13    0.365990
2015-01-14   -1.915097
2015-01-15    0.442565
2015-01-16   -0.511242
2015-01-19   -2.088591
2015-01-20   -0.233255
2015-01-21    0.345187
2015-01-22    0.825151
2015-01-23   -0.159876
2015-01-26   -0.737991
2015-01-27    0.117374
2015-01-28    0.424883
2015-01-29   -0.447569
2015-01-30    0.810138
2015-02-02   -0.732402
2015-02-03   -1.088756
2015-02-04   -1.115718
2015-02-05    0.232317
2015-02-06   -0.730290
2015-02-09   -1.153951
2015-02-10    2.229306
2015-02-11   -1.465457
                ...
2015-11-20    0.231516
2015-11-23   -0.249322
2015-11-24    2.060228
2015-11-25    0.855036
2015-11-26   -0.260757
2015-11-27    0.727360
2015-11-30   -1.180127
2015-12-01   -0.343688
2015-12-02   -1.742157
2015-12-03   -0.748608
2015-12-04    0.916499
2015-12-07   -0.696501
2015-12-08   -0.127817
2015-12-09   -0.016805
2015-12-10   -1.013128
2015-12-11   -0.278387
2015-12-14    0.703159
2015-12-15   -0.423875
2015-12-16   -1.200896
2015-12-17   -1.502121
2015-12-18   -0.958077
2015-12-21   -1.530218
2015-12-22   -0.346546
2015-12-23    0.374620
2015-12-24    0.752483
2015-12-25    2.525517
2015-12-28    0.146859
2015-12-29    0.419336
2015-12-30   -0.447939
2015-12-31   -0.241732
Freq: B, Length: 261, dtype: float64

In [5]:
#3) Find the sum of the values in s for every Wednesday

#solution

sum_wed = date_randn_index.loc[date_randn_index.index.weekday==2].sum()
print("The sum of the values in the series for every Wednesday is:", sum_wed, "\n")

The sum of the values in the series for every Wednesday is: 2.9122963036137786

In [6]:
#4) Average For each calendar month

#solution

Avg_for_month = date_randn_index.resample('M').mean()
print("Average for each calendar month:\n\n",Avg_for_month , "\n")

Average for each calendar month:

 2015-01-31   -0.087740
2015-02-28   -0.104883
2015-03-31   -0.096796
2015-04-30   -0.076020
2015-05-31    0.215542
2015-06-30    0.660959
2015-07-31    0.305348
2015-08-31    0.156350
2015-09-30    0.145139
2015-10-31    0.341532
2015-11-30    0.228276
2015-12-31   -0.251305
Freq: M, dtype: float64

In [8]:
#5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

#solution

date_max = date_randn_index.resample('4M', closed='left').agg({np.argmax})
print("The dates where the highest value occurred in four consecutive months are:\n",date_max.argmax[0], "\n", date_max.argmax[1],"\n", date_max.argmax[2])

The dates where the highest value occurred in four consecutive months are:
 2015-04-09 00:00:00
 2015-06-24 00:00:00
 2015-12-25 00:00:00

F:\Data Science\New folder\lib\site-packages\numpy\core\fromnumeric.py:52: FutureWarning: 'argmax' is deprecated. Use 'idxmax' instead. The behavior of 'argmax' will be corrected to return the positional maximum in the future. Use 'series.values.argmax' to get the position of the maximum now.
  return getattr(obj, method)(*args, **kwds)